<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      >
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/home' routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink='/suppliers'>Proveedores</a>
      <a mat-list-item routerLink='/request'>Solicitudes</a>
      <a mat-list-item routerLink='/forms'>Formularios</a>
      <a mat-list-item routerLink='/report'>Reportes</a>
      <a mat-list-item routerLink='/configuration'>Configuracion</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="true">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Tico Electronics</span>
      <span class="spacer"></span>
      <div *ngIf="auth.isLoggedIn; then logout else login"></div>
      <ng-template #login>
        <a routerLink='/login' routerLinkActive="active" >Log in</a>
      </ng-template>
      <ng-template #logout>
        <!--<a routerLink='/profile'>{{auth.userEmail}}</a>-->
        <a (click)="auth.logout()">Log out</a>
      </ng-template>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
