.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
  border-right: 1px solid;
  border-color: #003366;

}

.sidenav .mat-toolbar {
  background: inherit;
  color: #003366;

}

.sidenav a{
color: #003366  
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background:white;
  color:#003366;
  border-bottom: 1px solid;
  border-color: #003366 

}
.spacer{
  flex: 1 1 auto;
}
.mat-toolbar a{
  display: inline-block;
  color:#003366;
  text-decoration: none;
  margin: 0 10px;
}

.sidenav-container{
  background: white;
  color: black
}