<div>
    <h1>Solicitudes pendientes</h1>
</div>
<div>
  <table class="rwd_auto">
    <thead>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Ciudad</th>
        <th class="descarto">Web</th>
        <th class="descarto">Categoria</th>
        <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers | async"> <!-- | async"> -->
        <td>{{supplier.generalInfo.name}}</td>
        <td>{{supplier.generalInfo.phone}}</td>
        <td>{{supplier.generalInfo.city}}</td>
        <td class="descarto">{{supplier.generalInfo.web}}</td>
        <td class="descarto">{{supplier.generalInfo.industry}}</td>
        <td>
          <button (click)="acceptSupplier(supplier)">Aceptar</button>
          <button (click)="deleteSupplier(supplier)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
