<div class="title">
  <h1>Proveedores</h1>
</div>
<!--
<div>
  <select>
    <option *ngFor="let c of colors" (click)="filterByColor(c)" [value]="c">
      {{c}}
    </option>
  </select>
</div>
-->


<div class="example-header" fxLayout="element">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource1" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element " data-label="Nombre"> {{element.generalInfo.name}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Contacto</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Contacto"> {{element.generalInfo.phone}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ciudad"> {{element.generalInfo.city}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="web">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Web </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Web"> {{element.generalInfo.web}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="industry">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Categoria"> {{element.generalInfo.industry}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="color">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Estado"> {{element.color}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttonShow">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ver </mat-header-cell>
           <!--
             
          <mat-cell *matCellDef="let element" data-label="Ver">  <a routerLink="/es/detail/{{element.id}}"> VER </a> </mat-cell>
           --> 
           <mat-cell *matCellDef="let element" data-label="Ver"> <button mat-button routerLink="/es/detail/{{element.id}}" >Ver</button></mat-cell>
          </ng-container>

        <ng-container matColumnDef="buttonDelete"> 
            <mat-header-cell *matHeaderCellDef mat-sort-header> Borrar </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Borrar">  <button mat-button (click)="deleteSupplier(element)">Borrar</button></mat-cell>
          </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns1;" >
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>