<div class="title">
  <h3>Información documentada Compras</h3>
  <h3>Registro selección de proveedores</h3>
  <h3>R-COM-03</h3>
</div>

<form class="form1" action="" [formGroup]="formMaster" (ngSubmit)="onSubmit()">



  <div class="example-container" formGroupName="generalInfo">
    <!-- ##################### I PARTE ###################### -->
    <div>
      <label>I PARTE. INFORMACIÓN GENERAL</label>
    </div>
    <mat-form-field>
      <input matInput placeholder=" Nombre de la empresa: " formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder=" Cédula jurídica o física: " formControlName="identifier">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Número telefónico: " formControlName="phone">
    </mat-form-field>



    <mat-form-field>
      <input matInput placeholder=" Dirección:  " formControlName="address">
    </mat-form-field>


    <mat-form-field>  
      <input matInput placeholder=" Ciudad: " formControlName="city">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder=" Página web:  " formControlName="web">
    </mat-form-field>



    <label for="">Industria</label>
    <br>
    <mat-radio-group formControlName="industry">
      <mat-radio-button value="Fabricante" >Fabricante</mat-radio-button>
      <mat-radio-button value="Transporte" >Transporte</mat-radio-button>
      <mat-radio-button value="Financiero" >Financiero</mat-radio-button>
      <mat-radio-button value="Distribuidor" >Distribuidor</mat-radio-button>
      <mat-radio-button value="Otro " >Otro <input matInput 
          placeholder=" Especifique  "></mat-radio-button>

    </mat-radio-group>


    <mat-form-field>
      <textarea matInput placeholder="  Descripción del producto/servicio:" formControlName="description"></textarea>
    </mat-form-field>

  </div>

  <!-- ##################### II PARTE ###################### -->
  <div class="example-container" formGroupName="transport">

    <div>
      <label>II PARTE. TRANSPORTE</label>
    </div>

    <mat-form-field>
      <input matInput placeholder="  Por favor anote el medio de envío que utiliza:"
        formControlName="transportation">
    </mat-form-field>

    <label>
      ¿Tiene la empresa experiencia con la manipulación de químicos peligrosos?
    </label>
    <br>

    <mat-radio-group formControlName="chemicalHandling">
      <mat-radio-button value="Si" >Si</mat-radio-button>
      <mat-radio-button value="No" >No</mat-radio-button>
    </mat-radio-group>
  </div>



  <!-- ##################### III PARTE ###################### -->
  <div class="example-container">
    <label>III PARTE. INFORMACIÓN DE LOS CONTACTOS</label>
  </div>

  <div class="example-container" formGroupName="generalManager">

    <!-- GERENTE GENERAL -->
    <div>
      <label>Gerente general</label>
    </div>
    <mat-form-field>
      <input matInput placeholder="    Nombre:  " formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="   Correo:  " formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="     Número de teléfono: " formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="     Celular: " formControlName="mobile">
    </mat-form-field>

  </div>


  <div class="example-container" formGroupName="qualityManager">

    <!-- GERENTE DE CALIDAD -->
    <div>
      <label>Gerente general</label>
    </div>
    <mat-form-field>
      <input matInput placeholder="    Nombre:  " formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="   Correo:  " formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="     Número de teléfono: " formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="     Celular: " formControlName="mobile">
    </mat-form-field>

  </div>



  <!-- ENCARGADO DE CUENTAS POR COBRAR -->


  <div class="example-container" formGroupName="accountsReceivable">
    <div>
      <label>Encargado de cuentas por cobrar</label>
    </div>
    <mat-form-field>
      <input matInput placeholder="    Nombre:  " formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="   Correo:  " formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="     Número de teléfono: " formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="     Celular: " formControlName="mobile">
    </mat-form-field>


  </div>


  <!-- VENTAS -->

  <div class="example-container" formGroupName="sales">
    <div>
      <label>Ventas</label>
    </div>
    <mat-form-field>
      <input matInput placeholder="    Nombre:  " formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="   Correo:  " formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="     Número de teléfono: " formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="     Celular: " formControlName="mobile">
    </mat-form-field>


  </div>


  <!-- ##################### IV PARTE ###################### -->

  <div class="example-container" formGroupName="bankingInfoGeneral">
    <div>
      <label>IV PARTE. INFORMACIÓN BANCARIA</label>
    </div>
    <div>
      <label>(Información para pago)</label>
    </div>
    <mat-form-field>
      <input matInput placeholder="   Beneficiario de la cuenta:" formControlName="accountName">
    </mat-form-field>

  </div>


  <div class="example-container" formGroupName="bankingInfoNational">

    <mat-form-field>
      <input matInput placeholder="    Cédula del beneficiario de la cuenta:" formControlName="identifier">
    </mat-form-field>

  </div>

  <div class="example-container" formGroupName="bankingInfoGeneral">

    <mat-form-field>
      <input matInput placeholder="   Cuenta cliente:" formControlName="accountNumber">
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="    Nombre del banco:" formControlName="bankName">
    </mat-form-field>

  </div>

  <!-- ##################### V PARTE ###################### -->
  <!-- mat-checkbox [(ngModel)]="ayuwoki"></mat-checkbox> -->
  <div class="example-container">
    <label>¿Quimico?</label>
    <mat-slide-toggle formControlName="chemical">Activar</mat-slide-toggle>
  </div>


  <div class="example-container">
    <label>V PARTE. INFORMACIÓN SOBRE EL SISTEMA DE CALIDAD</label>


  </div>

  <div class="example-container" formGroupName="qualitySystem" *ngIf="isChemical">
    <!-- Inicio de la tabla-->


    <div>
      <table>
        <thead>
          <tr>
            <th>Pregunta</th>
            <th>Sí</th>
            <th>No</th>
            <th>Notas</th>
          </tr>
        </thead>
        <tbody>
          <tr formGroupName="iso">
            <th>Tiene la compañía algún Sistema Certificado de Calidad (ISO9001, AS9100, NADCAP)? Por favor adjúntelo
            </th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>

          <tr formGroupName="department">
            <th>¿Tiene la empresa departamento de calidad?</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>


          <tr formGroupName="certificates">
            <th>¿Usa la empresa certificados de cumplimiento?</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>


          <tr formGroupName="corrective">
            <th>¿Tiene la empresa un sistema para aplicar acciones correctivas?</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>

          <tr>
            <th>Por favor indique su política de retención de registros en años:

            </th>
            <th><input type="text"></th>
            <th></th>
            <th>
              <textarea formControlName="retention"></textarea>
            </th>
          </tr>

          <tr formGroupName="keep">
            <th>¿Estaría dispuesto a conservar registros según requisitos de un cliente en específico si es necesario?
            </th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>


          <tr formGroupName="complaints">
            <th>¿Tiene algún procedimiento de quejas/reclamos de clientes?</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>


          <tr formGroupName="audit">
            <th>¿Estaría dispuesto a ser auditado si fuera necesario?</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>


          <tr formGroupName="evaluation">
            <th>¿Tiene algún procedimiento para evaluación de proveedores?</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>


          <tr formGroupName="traceability">
            <th>¿Tiene trazabilidad en su producción/materiales?</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>


          <tr formGroupName="fakes">
            <th>¿Tiene la empresa un programa de formal de manejo de falsificaciones?</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>


          <tr formGroupName="establish">
            <th>¿Tiene algún mecanísmo formal para establecer/aplicar requisitos contractuales y
              de sistema establecidos por el cliente a su cadena de proveedores?
            </th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>

          <tr>
            <th>Comentarios adicionales</th>
            <th></th>
            <th></th>
            <th>
              <textarea formControlName="additional"></textarea>
            </th>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
  <!--Fin del div donde esta la tabla-->

  <!-- ###################### USO EXCLUSIVO #########################-->

  <div class="example-container">
    <div>
      <label>SOLO PARA EL USO DE TICO ELECTRONICS</label>
    </div>
    <div>
      <label>
        Usuario final:
      </label>
    </div>


  </div>

  <div class="example-container" formGroupName="internalUse">
    <!--uso exclusivo-->
    <table>
      <div formArrayName="services">
        <thead>
          <tr>
            <th>Familia (productos o servicios)</th>
            <th>Clasificación</th>
            <th>Cláusulas de Calidad/Requerimientos</th>
            <th>Cumple</th>
            <th>Comentarios</th>
          </tr>
        </thead>
        <tbody *ngFor="let row of internalServices.controls; let i=index">

          <tr [formGroupName]="i">

            <th>
              <input type="text" formControlName="family">
            </th>
            <th>
              <input type="text" formControlName="classification">
            </th>
            <th>
              <input type="text" formControlName="quality">
            </th>
            <th>
              <input type="radio" value="Sí" formControlName="fulfill">Sí
              <input type="radio" value="No" formControlName="fulfill">No
            </th>
            <th>
              <textarea formControlName="comments"></textarea>
            </th>

          </tr>

        </tbody>
      </div>
    </table>
    <br>
    <br>
    <button  class="submit"  (click)="addInternalUse()">Agregar</button>
    <br>
    <br>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Sí</th>
          <th>No</th>
          <th>Comentarios</th>
        </tr>
      </thead>
      <tbody>

        <tr formGroupName="evaluation">
          <th>El proveedor requiere evaluación</th>
          <th>
            <input type="radio" value="Sí" formControlName="isTrue">
          </th>
          <th>
            <input type="radio" value="No" formControlName="isTrue">
          </th>
          <th>
            <textarea formControlName="comment"></textarea>
          </th>
        </tr>


        <tr formGroupName="audit">
          <th>El proveedor requiere auditoría</th>
          <th>
            <input type="radio" value="Sí" formControlName="isTrue">
          </th>
          <th>
            <input type="radio" value="No" formControlName="isTrue">
          </th>
          <th>
            <textarea formControlName="comment"></textarea>
          </th>
        </tr>


        <tr formGroupName="national">
          <th>El proveedor es nacional y suple materia prima</th>
          <th>
            <input type="radio" value="Sí" formControlName="isTrue">
          </th>
          <th>
            <input type="radio" value="No" formControlName="isTrue">
          </th>
          <th>
            <textarea formControlName="comment"></textarea>
          </th>
        </tr>

      </tbody>
    </table>


  </div>
  <!--fin uso exclusivo-->

  <div class="example-container">
    <div>
      <label>APROBACIONES</label>
    </div>

    <button class="submit" type="submit" [disabled]="!formMaster.valid">Submit</button>
  </div>

</form>