.title{

  text-align: center
}
.form1 {

  width: 100%;

}
.example-container {
   display : block;
   width: 100%;
   padding: 20px;
   text-align: center
 
}

.example-container > * {
   width : 100% ;
  
}
.IParte{
  display : block;
  width: 100%;
  padding: 100px;
  text-align: center
}


table, td, th {  
  border: 1px solid #003366;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}


.submit {
  background-color: #003366;
  color: white;
border: solid #003366
}


.submit:hover{
  background: #3d5c8e;
  border: solid  #3d5c8e;
}

.title{

  text-align: center;
  font-family: serif;
  color: #003366;
}