<form [formGroup]="formMaster" (ngSubmit)="onSubmit()">
  <div>
    <select formControlName="color">
      <option *ngFor="let c of colors" [value]="c">
        {{c}}
      </option>
    </select>
  </div>
  <!-- ##################### I PARTE ###################### -->
  <div class="Primero" formGroupName="generalInfo">
    <div >
      <label>I PARTE. INFORMACIÓN GENERAL</label>
    </div>
    <div>  
      <label>
        Nombre de la empresa: 
        <input placeholder="" type="text" formControlName="name">

      </label>
 
    </div>
    <div>  
      <label>
        Cédula jurídica o física: 
        <input placeholder="" type="text" formControlName="identifier">
      </label>
    </div>
    <div>  
      <label>
        Número telefónico: 
        <input placeholder="88888888" type="text" formControlName="phone"> 
      </label>
    </div>
    <div>  
      <label>
        Dirección: 
        <input placeholder="" type="text" formControlName="address">
      </label>
    </div>
    <div>  
      <label>
        Ciudad: 
        <input placeholder="" type="text" formControlName="city">
      </label>
    </div>
    <div>  
      <label>
        Página web: 
        <input placeholder="" type="text" formControlName="web">
      </label>
    </div>
    <div>
      <label>Industria:</label>
      <label>
        <input type="radio" value="Fabricante" formControlName="industry">Fabricante
      </label>
      <label>
        <input type="radio" value="Transporte" formControlName="industry">Transporte
      </label>
      <label>
        <input type="radio" value="Financiero" formControlName="industry">Financiero
      </label>
      <label>
        <input type="radio" value="Distribuidor" formControlName="industry">Distribuidor
      </label>
      <label>
        <input type="radio" value="Otro" formControlName="industry">Otro (especifique)
        <input type="text" formControlName="industry">
      </label>
    </div>
    <div>
      <label>
        Descripción del producto/servicio:
        <textarea formControlName="description"></textarea>
      </label>
    </div>
  </div>


  <!-- ##################### II PARTE ###################### -->
  <div class="Segundo" formGroupName="transport">
    <div>
      <label>II PARTE. TRANSPORTE</label>
    </div>
    <div>
      <label>
        Por favor anote el medio de envío que utiliza:
        <input type="text" formControlName="transportation">
      </label>
    </div>
    <div>
      <label>
        ¿Tiene la empresa experiencia con la manipulación de químicos peligrosos?
      </label>
      <label>
        <input type="radio" value="Sí" formControlName="chemicalHandling">Sí
      </label>
      <label>
        <input type="radio" value="No" formControlName="chemicalHandling">No
      </label>
    </div>
  </div>


  <!-- ##################### III PARTE ###################### -->
  <div>
    <label>III PARTE. INFORMACIÓN DE LOS CONTACTOS</label>
  </div>
  <div class="Tercero"  formGroupName="generalManager"> 
    <!-- GERENTE GENERAL -->
    <div>
      <label>Gerente general</label>
    </div>
    <div>
      <label>
        Nombre:
        <input type="text" formControlName="name">
      </label>
    </div>
    <div>
      <label>
        Correo:
        <input type="text" formControlName="email">
      </label>
    </div>
    <div>
      <label>
        Número de teléfono:
        <input type="text" formControlName="phone">
      </label>
    </div>
    <div>
      <label>
        Celular:
        <input type="text" formControlName="mobile">
      </label>
    </div>
  </div>

  <!-- GERENTE DE CALIDAD -->
  <div formGroupName="qualityManager">
    <div>
      <label>Gerente de calidad</label>
    </div>
    <div>
      <label>
        Nombre:
        <input type="text" formControlName="name">
      </label>
    </div>
    <div>
      <label>
        Correo:
        <input type="text" formControlName="email">
      </label>
    </div>
    <div>
      <label>
        Número de teléfono:
        <input type="text" formControlName="phone">
      </label>
    </div>
    <div>
      <label>
        Celular:
        <input type="text" formControlName="mobile">
      </label>
    </div>
  </div>

  <!-- ENCARGADO DE CUENTAS POR COBRAR -->
  <div formGroupName="accountsReceivable">
    <div>
      <label>Encargado de cuentas por cobrar</label>
    </div>
    <div>
      <label>
        Nombre:
        <input type="text" formControlName="name">
      </label>
    </div>
    <div>
      <label>
        Correo:
        <input type="text" formControlName="email">
      </label>
    </div>
    <div>
      <label>
        Número de teléfono:
        <input type="text" formControlName="phone">
      </label>
    </div>
    <div>
      <label>
        Celular:
        <input type="text" formControlName="mobile">
      </label>
    </div>
  </div>

  <!-- VENTAS -->
  <div formGroupName=sales> 
    <div>
      <label>Ventas</label>
    </div>
    <div>
      <label>
        Nombre:
        <input type="text" formControlName="name">
      </label>
    </div>
    <div>
      <label>
        Correo:
        <input type="text" formControlName="email">
      </label>
    </div>
    <div>
      <label>
        Número de teléfono:
        <input type="text" formControlName="phone">
      </label>
    </div>
    <div>
      <label>
        Celular:
        <input type="text" formControlName="mobile">
      </label>
     </div>
  </div>


<!-- ##################### IV PARTE ###################### -->
<div formGroupName="bankingInfoGeneral">
  <div>
    <label>IV PARTE. INFORMACIÓN BANCARIA</label>
  </div>
  <div>
    <label>(Información para pago)</label>
  </div>
  <div>
    <label>
      Beneficiario de la cuenta:
      <input type="text" formControlName="accountName">
    </label>
  </div>
</div>
<div formGroupName="bankingInfoNational">
  <div>
    <label>
      Cédula del beneficiario de la cuenta:
      <input type="text" formControlName="identifier">
    </label>
  </div>
</div>
<div formGroupName="bankingInfoGeneral">
  <div>
    <label>
      Cuenta cliente:
      <input type="text" formControlName="accountNumber">
    </label>
  </div>
  <div>
    <label>
      Nombre del banco:
      <input type="text" formControlName="bankName">
    </label>
  </div>
</div>

  
  <!-- ##################### V PARTE ###################### -->
  <!-- mat-checkbox [(ngModel)]="ayuwoki"></mat-checkbox> -->
  <label>¿Quimico?</label>
  <mat-slide-toggle formControlName="chemical"></mat-slide-toggle>

  <div>
    <label>V PARTE. INFORMACIÓN SOBRE EL SISTEMA DE CALIDAD</label>
  </div>
  <div formGroupName="qualitySystem" *ngIf="isChemical">
    <div>
      <table>
        <thead>
          <tr>
            <th>Pregunta</th>
            <th>Sí</th>
            <th>No</th>
            <th>Notas</th>
          </tr>
        </thead>
        <tbody>
          <tr formGroupName="iso">
            <th>Tiene la compañía algún Sistema Certificado de Calidad (ISO9001, AS9100, NADCAP)? Por favor adjúntelo</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>
         
            <tr formGroupName="department">
              <th>¿Tiene la empresa departamento de calidad?</th>
              <th>
                <input type="radio" value="Sí" formControlName="isTrue">
              </th>
              <th>
                <input type="radio" value="No" formControlName="isTrue">
              </th>
              <th>
                <textarea formControlName="comment"></textarea>
              </th>
            </tr>
          
         
            <tr formGroupName="certificates">
              <th>¿Usa la empresa certificados de cumplimiento?</th>
              <th>
                <input type="radio" value="Sí" formControlName="isTrue">
              </th>
              <th>
                <input type="radio" value="No" formControlName="isTrue">
              </th>
              <th>
                <textarea formControlName="comment"></textarea>
              </th>
            </tr>
        
          
            <tr formGroupName="corrective">
              <th>¿Tiene la empresa un sistema para aplicar acciones correctivas?</th>
              <th>
                <input type="radio" value="Sí" formControlName="isTrue">
              </th>
              <th>
                <input type="radio" value="No" formControlName="isTrue">
              </th>
              <th>
                <textarea formControlName="comment"></textarea>
              </th>
            </tr>
         
          <tr>
            <th>Por favor indique su política de retención de registros en años: 
              
            </th>
            <th><input type="text"></th>
            <th></th>
            <th>
              <textarea formControlName="retention"></textarea>
            </th>
          </tr>
         
            <tr formGroupName="keep">
              <th>¿Estaría dispuesto a conservar registros según requisitos de un cliente en específico si es necesario?</th>
              <th>
                <input type="radio" value="Sí" formControlName="isTrue">
              </th>
              <th>
                <input type="radio" value="No" formControlName="isTrue">
              </th>
              <th>
                <textarea formControlName="comment"></textarea>
              </th>
            </tr>
        
    
            <tr formGroupName="complaints">
              <th>¿Tiene algún procedimiento de quejas/reclamos de clientes?</th>
              <th>
                <input type="radio" value="Sí" formControlName="isTrue">
              </th>
              <th>
                <input type="radio" value="No" formControlName="isTrue">
              </th>
              <th>
                <textarea formControlName="comment"></textarea>
              </th>
            </tr>
      
     
            <tr formGroupName="audit">
              <th>¿Estaría dispuesto a ser auditado si fuera necesario?</th>
              <th>
                <input type="radio" value="Sí" formControlName="isTrue">
              </th>
              <th>
                <input type="radio" value="No" formControlName="isTrue">
              </th>
              <th>
                <textarea formControlName="comment"></textarea>
              </th>
            </tr>
        
        
            <tr formGroupName="evaluation">
              <th>¿Tiene algún procedimiento para evaluación de proveedores?</th>
              <th>
                <input type="radio" value="Sí" formControlName="isTrue">
              </th>
              <th>
                <input type="radio" value="No" formControlName="isTrue">
              </th>
              <th>
                <textarea formControlName="comment"></textarea>
              </th>
            </tr>
          
         
            <tr formGroupName="traceability">
              <th>¿Tiene trazabilidad en su producción/materiales?</th>
              <th>
                <input type="radio" value="Sí" formControlName="isTrue">
              </th>
              <th>
                <input type="radio" value="No" formControlName="isTrue">
              </th>
              <th>
                <textarea formControlName="comment"></textarea>
              </th>
            </tr>
        
          
            <tr formGroupName="fakes">
              <th>¿Tiene la empresa un programa de formal de manejo de falsificaciones?</th>
              <th>
                <input type="radio" value="Sí" formControlName="isTrue">
              </th>
              <th>
                <input type="radio" value="No" formControlName="isTrue">
              </th>
              <th>
                <textarea formControlName="comment"></textarea>
              </th>
            </tr>
         
         
            <tr formGroupName="establish">
              <th>¿Tiene algún mecanísmo formal para establecer/aplicar requisitos contractuales y 
                de sistema establecidos por el cliente a su cadena de proveedores?
              </th>
              <th>
                <input type="radio" value="Sí" formControlName="isTrue">
              </th>
              <th>
                <input type="radio" value="No" formControlName="isTrue">
              </th>
              <th>
                <textarea formControlName="comment"></textarea>
              </th>
            </tr>
          
          <tr>
            <th>Comentarios adicionales</th>
            <th></th>
            <th></th>
            <th>
              <textarea formControlName="additional"></textarea>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- ###################### USO EXCLUSIVO #########################-->
  <div>
    <label>SOLO PARA EL USO DE TICO ELECTRONICS</label>
  </div>
  <div>
    <label>
      Usuario final:
    </label>
  </div>
  <div formGroupName="internalUse">
    <table>
      <div formArrayName="services">
        <thead>
          <tr>
            <th>Familia (productos o servicios)</th>
            <th>Clasificación</th>
            <th>Cláusulas de Calidad/Requerimientos</th>
            <th>Cumple</th>
            <th>Comentarios</th>
          </tr>
        </thead>
        <tbody *ngFor="let row of internalServices.controls; let i=index">
          
            <tr [formGroupName]="i">
              
                <th>
                  <input type="text" formControlName="family">
                </th>
                <th>
                  <input type="text" formControlName="classification">
                </th>
                <th>
                  <input type="text" formControlName="quality">
                </th>
                <th>
                  <input type="radio" value="Sí" formControlName="fulfill">Sí
                  <input type="radio" value="No" formControlName="fulfill">No
                </th>
                <th>
                  <textarea formControlName="comments"></textarea>
                </th>
              
            </tr>
        
        </tbody>
      </div>
    </table>
    <button (click)="addInternalUse()">Agregar</button>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Sí</th>
          <th>No</th>
          <th>Comentarios</th>
        </tr>
      </thead>
      <tbody>
       
          <tr formGroupName="evaluation">
            <th>El proveedor requiere evaluación</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>
       
        
          <tr formGroupName="audit">
            <th>El proveedor requiere auditoría</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>
      
        
          <tr formGroupName="national">
            <th>El proveedor es nacional y suple materia prima</th>
            <th>
              <input type="radio" value="Sí" formControlName="isTrue">
            </th>
            <th>
              <input type="radio" value="No" formControlName="isTrue">
            </th>
            <th>
              <textarea formControlName="comment"></textarea>
            </th>
          </tr>
        
      </tbody>
    </table>
  </div>

<!-- ##################### APROBACIONES ######################## -->
  <div>
    <label>APROBACIONES</label>
  </div>

  <button class="submit" type="submit" [disabled]="!formMaster.valid">Guardar</button>
  
</form>

