/*form{

    text-align: center;
    padding: 50px;
    background: orange
}

tr th table tbody thead {
    font-family: serif;
 
   
}
.info{
    display: inline;
}


div{
    background: purple;
    padding:10px;
}

.Primero{
 
    padding: 50px;
    background: chartreuse;
}

.Segundo{
    background: magenta;
    padding: 50px;

}

.Tercero{
    background: cadetblue;
    padding: 50px;
}*/

form{

    text-align: center;
       padding: 50px;
       background:white
   }
   * {
       box-sizing: border-box;
     }
     
     input[type=text], select, textarea {
       width: 100%;
       padding: 12px;
       /*border-bottom: 1px solid #ccc;*/
      /* border-radius: 4px;*/
       resize: vertical;  
        background: none;
       border-top:none;
       border-right:none;
       border-left:none;
       border-bottom: solid 2px #003366
   
     }
   
   
     
     label {
       padding: 12px 12px 12px 0;
       display: inline-block;
     }
     
     .submit {
       background-color: #003366;
       color: white;
       padding: 12px 20px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
       float: right;
     }
     
     input[type=submit]:hover {
       background-color: #45a049;
     }
     
     .container {
       border-radius: 5px;
       background-color: #f2f2f2;
       padding: 20px;
     }
     
     .col-25 {
       float: left;
       width: 25%;
       margin-top: 6px;
     }
     
     .col-75 {
       float: left;
       width: 75%;
       margin-top: 6px;
     }
     
     /* Clear floats after the columns */
     .row:after {
       content: "";
       display: table;
       clear: both;
     }
     
     /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
     @media screen and (max-width: 600px) {
       .col-25, .col-75, input[type=submit] {
         width: 100%;
         margin-top: 0;
       }
     }
   
   
   
   
   form{
       font-family: serif;
       color: cadetblue;
       font-size: 20px
   }
   
   
   table, td, th {  
       border: 1px solid #ddd;
       text-align: left;
     }
     
     table {
       border-collapse: collapse;
       width: 100%;
     }
     
     th, td {
       padding: 15px;
     }