<div>
  <h1>Proveedores</h1>
</div>

<div>
  <table class="rwd_auto">
    <thead>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Ciudad</th>
        <th class="descarto">Web</th>
        <th class="descarto">Categoria</th>
        <th class="descarto">Color</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers | async"> 
        <td>{{supplier.generalInfo.name}}</td>
        <td>{{supplier.generalInfo.phone}}</td>
        <td>{{supplier.generalInfo.city}}</td>  
        <td class="descarto">{{supplier.generalInfo.web}}</td>
        <td class="descarto">{{supplier.generalInfo.industry}}</td>
        <td class="descarto">{{supplier.color}}</td>
        <td> <a routerLink="/es/detail/{{supplier.id}}"> VER </a> </td>
        <td><button (click)="deleteSupplier(supplier)">Borrar</button></td>
        
      </tr>
    </tbody>
  </table>
</div>
