<body>
  <div class="login  fixed-top" >
      <div class="login-screen">
          <div class="app-title">
              <h1>Login</h1>
          </div>

          <div class="login-form">
              <div class="control-group">
              <input [(ngModel)]="email" type="text" class="login-field" value="" placeholder="Email" id="login-name">
              <label class="login-field-icon fui-user" for="login-name"></label>
              </div>

              <div class="control-group">
              <input [(ngModel)]="password" type="password" class="login-field" value="" placeholder="Password" id="login-pass">
              <label class="login-field-icon fui-lock" for="login-pass"></label>
              </div>

              <a (click)="login(email, password)" class="btn btn-primary btn-large btn-block">login</a>
              {{mensaje}}
              <a class="login-link" href="#">Lost your password?</a>
          </div>
      </div>
  </div>
</body>