

<div class="formularios">
         
       <button class="btn" mat-button routerLink='/es/com3' >Nacional</button>
       <button class="btn" mat-button routerLink='/en/com3' >Internacional</button>
</div>
